<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Allow large file uploads (200MB) for backup restore -->
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <aspNetCore processPath="dotnet" arguments=".\myIoTGrid.Hub.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
